@font-face {
    font-family: "Orbitron";
    src: local("Orbitron"), url("./Fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
}

html * {
    font-family: 'Orbitron';
}

body {
    background: black;
}

#gamePlayCanvas {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

#playerImage, #charge1Image, #charge2Image, #charge3Image, #charge4Image,
#charge5Image, #charge6Image, #enemyImage, #shieldImage, #forceImage,
#wallStart, #wallMiddle, #wallEnd, #enemyFire, #itemRobot, #topWallStart,
#topWallMiddle, #topWallEnd, #largeEnemy, #enemyExplosion, #chargeSparks,
#playerExplosion {
    display: none;
}